<!doctype html>
<html ng-app="BlogApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Sunki Baek :: Web Developer</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/octicons.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Sunki Baek<br><small>a web developer</small></h1>
      </header>

      <section ng-controller="LengthForAgeCtrl as length_for_age" id="body-length-for-age-percentile-calculator-by-who-data">
        <h3>Body length for age percentile calculator by WHO data</h3>

        <p>Every baby grows at their own pace. So, let's compare whose baby's the best!</p>

        <form>
          <select ng-options="row.month for row in length_for_age.dataTable" ng-model="length_for_age.form.month" ng-change="length_for_age.calculatePercentile()">
            <option value=''>month</option>
          </select>
          <input type="number" placeholder="body length (cm)" ng-model="length_for_age.form.bodyLength" ng-change="length_for_age.calculatePercentile()">
          <span>Result: {{ length_for_age.result }}</span>
        </form>

        <div id="length_for_age_chart" style="width: 100%; height: 500px;"></div>

        <figure>
          <table>
            <thead>
              <tr>
                <td>Mo</td>
                <td>Avg</td>
                <td>2nd<br>(2.3rd)</td>
                <td>5th</td>
                <td>10th</td>
                <td>25th</td>
                <td>50th</td>
                <td>75th</td>
                <td>90th</td>
                <td>95th</td>
                <td>98th<br>(97.7th)</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in length_for_age.dataTable">
                <td>{{ row.month }}</td>
                <td>{{ row.average }}</td>
                <td>{{ row['2nd(2.3rd)'] }}</td>
                <td>{{ row['5th'] }}</td>
                <td>{{ row['10th'] }}</td>
                <td>{{ row['25th'] }}</td>
                <td>{{ row['50th'] }}</td>
                <td>{{ row['75th'] }}</td>
                <td>{{ row['90th'] }}</td>
                <td>{{ row['95th'] }}</td>
                <td>{{ row['98th(97.7th)'] }}</td>
              </tr>
            </tbody>
          </table>

          <figcaption>
            <p>Body length for age percentile chart (cm)</p>
          </figcaption>
        </figure>

        <p>Hope this helps.</p>

        <p><time datetime="2014-07-31">July 31 2014</time> Sunki Baek</p>
      </section>

      <footer>
        <p><a href="https://github.com/sunkibaek/sunkibaekblog/tree/gh-pages">Source codes of this blog <span class="octicon octicon-mark-github"></span></a></p>
        <p>
          <small>Original theme by <a href="https://github.com/orderedlist">orderedlist</a><br>2014 &copy; Sunki Baek</small>
        </p>
      </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/scale.fix.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44056140-7', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>